/*Font - start*/
$LatoRegular: 'Lato', Arial, san-serif;
$NanumGothic: 'NanumGothic', Arial, san-serif;
$NanumGothicBold: 'NanumGothicBold', Arial, san-serif;
$FontAwesome: 'FontAwesome';
/*Font - end*/
$width-min-mobile: 320px;
$width-mobile: 480px;
$width-tablet: 768px;
$width-desktop: 992px;
$width-large-desktop: 1200px;
$width-medium-desktop: 1300px;
$width-mid-desktop: 1301px;
$width-large-wrap: 1450px;
/*Color - start*/
$color-white: #fff;
$color-black: #000;
$color_tooptip: #CD302D;
$checkbox-bg: #24146f;
/*Color - end*/