<footer class="main_footer">
        <div class="container_new_edit">
                <div class="box_grid">
                        <div class="item_grid">
                                <div class="box_content">
                                        <div class="box_logo">
                                                <img src="images/logo.svg" alt="">
                                        </div>
                                        <div class="box_text">
                                                <p>
                                                        <img src="images/icon/Frame.png" alt="">
                                                        <span>65 Triệu Quốc Đạt - Hòa Thọ Đông - 
                                                                Cẩm Lệ - Đà Nẵng</span>
                                                </p>
                                                <p>
                                                        <img src="../../images/icon/phone.png" alt="">
                                                        <span>65 Triệu Quốc Đạt - Hòa Thọ Đông - 
                                                                Cẩm Lệ - Đà Nẵng</span>
                                                </p>
                                                <p>
                                                        <img src="images/icon/Frame.png" alt="">
                                                        <span>65 Triệu Quốc Đạt - Hòa Thọ Đông - 
                                                                Cẩm Lệ - Đà Nẵng</span>
                                                </p>
                                        </div>
                                </div>
                        </div>
                        <div class="item_grid">
                                <div class="box_content">
                                        1
                                </div>
                        </div>
                        <div class="item_grid">
                                <div class="box_content">
1
                                </div>
                        </div>
                        <div class="item_grid">
                                <div class="box_content">
1
                                </div>
                        </div>
                </div>
        </div>
</footer>