<footer class="main_footer">
        <div class="container_new_edit">
                <div class="box_grid">
                        <div class="item_grid">
                                <div class="box_content">
                                        <div class="box_logo">
                                                <img src="images/logo.svg" alt="">
                                        </div>
                                </div>
                        </div>
                        <div class="item_grid">
                                <div class="box_content">
                                        1
                                </div>
                        </div>
                        <div class="item_grid">
                                <div class="box_content">
1
                                </div>
                        </div>
                        <div class="item_grid">
                                <div class="box_content">
1
                                </div>
                        </div>
                </div>
        </div>
</footer>