<header class="main_header">
  <div class="container_edit">
    <div class="box_main_content">
      <div class="box_logo">
        <img src="images/logo.svg" alt="logo" class="img_logo">
      </div>
      <div class="show_menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="box_main_menu">
        <ul class="lista_menu">
          <li class="item_list">
              <a href="#" class="active">Trang chủ</a>
          </li>
          <li class="item_list">
              <a href="#">Tuyến</a>
          </li>
          <li class="item_list">
              <a href="#">Liên hệ</a>
          </li>
        </ul>
        <a href="#" class="btn_dat_xe">
          <img src="images/icon/ic_car-1.svg" alt="">
          <span class="text">Đặt xe</span>
        </a>
      </div>
    </div>
  </div>
</header>

<div class="menu_respontive_ovelay"></div>
<section class="menu_respontive">
  <ul class="main_menu">
    <li class="menu_list_item active">
      <a href="/" class="menu_list_item--link">Trang chủ</a>
    </li>
    <li class="menu_list_item">
      <a href="/" class="menu_list_item--link">Tuyến</a>
    </li>
    <li class="menu_list_item">
      <a href="/" class="menu_list_item--link">Liên hệ</a>
    </li>
  </ul>
  <a href="" class="btn_link_consluting_now">Consulting Now</a>
</section>
